{%- comment -%} 傳入 posts：文章清單 {%- endcomment -%}
<ul class="post-list">
  {% for post in include.posts %}
  <li>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y 年 %-m 月 %-d 日" }}</time>
    <span class="tag">{{ site.category_names[post.categories.first] }}</span>
    <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
    <p>{{ post.excerpt | strip_html | truncate: 80 }}</p>
  </li>
  {% else %}
  <li class="empty">還沒有文章。</li>
  {% endfor %}
</ul>
